.bolim{
	background-color: #0089D0;
	width: 100%;
	height: 40px;
}
.oxirgi{
	background-color: #262B30;
	width: 100%;
	height: 100px;
	color: white;
}
.yangilik{
	background-color: #F5F5F5;
}
.voqea{
	background-color:  #F5F5F5
}